{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}


    <div>Mind map saved!</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
